@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
  place-items: center;
}

#root {
  width: 100vw;
  height: 100vh;
}
