.bg-controls-left {
  background: rgb(0, 0, 0);
  background: -moz-linear-gradient(
    200deg,
    rgba(0, 0, 0, 0.6968908657212884) 0%,
    rgba(255, 255, 255, 0) 45%
  );
  background: -webkit-linear-gradient(
    200deg,
    rgba(0, 0, 0, 0.6968908657212884) 0%,
    rgba(255, 255, 255, 0) 45%
  );
  background: linear-gradient(
    200deg,
    rgba(0, 0, 0, 0.6968908657212884) 0%,
    rgba(255, 255, 255, 0) 45%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#ffffff",GradientType=1);
}

.bg-controls-right {
  background: rgb(0, 0, 0);
  background: -moz-linear-gradient(
    160deg,
    rgba(0, 0, 0, 0.6968908657212884) 0%,
    rgba(255, 255, 255, 0) 50%
  );
  background: -webkit-linear-gradient(
    160deg,
    rgba(0, 0, 0, 0.6968908657212884) 0%,
    rgba(255, 255, 255, 0) 50%
  );
  background: linear-gradient(
    160deg,
    rgba(0, 0, 0, 0.6968908657212884) 0%,
    rgba(255, 255, 255, 0) 50%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#ffffff",GradientType=1);
}
